* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    flex: 1;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}

h3{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button{
    background-color: #3882f6;
    border: none;
    padding: 5px 20px;
    color: #f9faf8;
    border-radius: 10px;
}

.signup button{
    border: 1px solid #f9faf8;
}

img {
    color: #f9faf8;
    background-color: gray;
    padding:90px;
    font-size: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}


a, .secondaryText{
    font-size: 18px;
    color:  #f9faf8;
    text-decoration: none;
}

.emptysquare{
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quotetext{
    color: #1f2937;
    width: 600px;
    font-size: 20px;
}

.quoted{
    font-style: normal;
    text-align: end;
}

.header{
    font-size: 36px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 75px;
   
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap:30px;
}

.quote{
    background-color: #e5e7eb;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 25px;
    margin: 30px;
    display: flex;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topheader{
    display: flex;
    justify-content: space-between;
    margin-top: -60px;
    margin-bottom: 50px;
    align-content: center;
}

.headerrightleftcontainer{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 20px 200px;
  }

.headerright{
    flex: 1;
}

.headerleft{
    flex: 1;
}

.squares ,.descriptions{
    display: flex;
    gap: 30px;
    width: 600px;
    justify-content: center;
}

.descriptions p{
    width: 100px;
    text-align: center;
    margin-top: 5px;
} 

